*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}


h1 {
    font-size: 44px;
    text-align: center;
    color: #1098ad;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2 {
    font-size: 24px;
    color: #1098ad;
    margin-bottom: 50px;
    text-decoration: underline;
}

h3 {
    font-size: 16px;
    color: #1098ad;
}

h4 {
    font-size: 20px;
    color: #1098ad;
    margin-left: 10px;
}

a {
    color: #1098ad;
    text-decoration: none;
    text-decoration: underline;
}

p {
    font-size: 16px;
    color: #1098ad;
    margin-left: 10px;
    line-height: 24px;
}

header {
    border-top: 10px solid #1098ad;
    margin-bottom: 100px;
    background-color: #cef6fc;
    min-height: 300px;
}

footer {
    background-color: #cef6fc;
    border-top: 5px solid #1098ad;
}

.logo{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.production {
    margin-left: 50px;
    width: auto;
    height: 300px;
}

.text {
    background-color: #cef6fc;
    border-top: 1px solid #1098ad;
    border-bottom: 1px solid #1098ad;
    margin-bottom: 150px;
    padding: 2em;
}

.info-text {
    margin-left: 200px;
    margin-right: 300px;
}

.machine{
    max-width:  100px;
    height:  auto;
    
}

.napkin-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-self:  center;
    margin-bottom: 100px;
}

.napkin{
    object-fit:scale-down;
    max-width: 80%;
    max-height: 80%;
}


.information {
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
}


.information2{
    justify-content: right;
}

.ourProduction {
    text-align: center;
    justify-content: flex-end;
}


.contacts {
    text-align: right;
}

.contant-end {
    display: flex;
    justify-content: space-between;
}

.telephone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.email {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.telephone-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.email-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.facebook {
    display: flex;
    align-items: center;
    justify-content: end;
}

.napkin {
    width: 500px;
    height: 500px;
}

.our {
    margin-bottom: 50px;
}


@media only screen and  (max-width: 900px) {

    body{
        margin-left: 10px;
        margin-right: 10px;
    }

    h1{
        font-size: 25px;
    }

    h2{
        font-size: 22px;
    }

    p{
        font-size: 14px;
    }

    .production{
        margin-left: 0px;
    }

    .text{
        margin-bottom: 80px;
    }

    .info-text{
        margin-left: 10px;
        margin-right: 10px;
    }

    .napkin-image{
        margin-bottom: 50px;
    }

    .napkin{
        object-fit: contain;
    }

    .information{
        display: grid;
        justify-items:center;
        justify-content: center;
    }

    .contacts{
        display: flex;
        justify-items:center;
        text-align: left;
        gap: 100px;
    }

    .contant-end{
        display: grid;
        justify-items:center;
        justify-content: center;
    }
}

