body{
    font-family: sans-serif;
    background-color: #a0d3fc;
    margin-left: 100px;
    margin-right: 100px;
}


h1{
    font-size: 44px;
    text-align: center;
    color: #1098ad;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2{
    font-size: 24px;
    color: #1098ad;
    margin-left: 10px;
}

h3{
    font-size: 16px;
    color: #1098ad;
}

h4{
    font-size: 20px;
    color: #a0d3fc;
    margin-left: 10px;
}

a:link{
    color: #1098ad;
    text-decoration: none;
}

p{
    font-size: 16px;
    color: #a0d3fc;
    margin-left: 10px;
}

header{
    border-top: 10px solid #1098ad;
    margin-bottom: 80px;
}
footer{
    background-color: #1098ad;
    border-top: 5px solid #1098ad;
}

.info{
    color: #1098ad;
    margin-right: 10px;
}

.production{
    margin-left: 10px;
}

.text{
    background-color: #1098ad;
    border-top: 1px solid #1098ad;
    border-bottom: 1px solid #1098ad;
    margin-bottom: 150px;
}

.info-text{
    margin-left: 200px;
    margin-right: 300px;
}


.napkin-image{
    margin-bottom: 150px;
}

.ourProduction{
    text-align: center;
}

.information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.item{
    flex-grow:calc(1);
}
.item2{
    margin-right:  150px;
}

.contacts{
    text-align: right;
    justify-content: space-between;
}

.contant-end{
    display: flex;
    justify-content: space-between;
}

.telephone{
    display: flex;
    justify-content: end;
    align-items:center;
}
.email{
    display: flex;
    align-items:center;
    justify-content: end;
}

.telephone-end{
    display: flex;
    align-items:center;
    justify-content: end;
}

.email-end{
    display: flex;
    align-items:center;
    justify-content: end;
    margin-right: 10px;
}

.facebook{
    display: flex;
    align-items:center;
    justify-content: end;
}
.napkin{
    width: 500px;
    height: 500px;
}

.our{
    margin-bottom: 50px;
}

@font-face {
    font-family: "Lato";
    src: url();
}